.h1 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.01em;
    line-height: 1.12;
    /* text-transform: capitalize; */
    margin-bottom: 8px;
    /* text-align: center; */

}
.h2 {
    margin-bottom: 1em;
    font-family: "Roboto";
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    line-height: 1.2;
}



.h3 {
    margin-top: 1em;
    padding-top: var(--section-padding-small);
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: .8em;
    width: 100%;
    margin-top: calc(var(--grid-gutter) / 2);

}

@media only screen and (min-width: 992px) {
  table {
    width: fit-content;
    min-width: 50%;
  }
} 


table, th, td {
    border-bottom: 1px solid #dddde2;
    vertical-align: middle;

  }

  td {
    padding: .8em;
  }

  td p {
    vertical-align: middle;
    margin-bottom: 0;
    /* font-size: var(--font-size-small);    */
    padding-top: 0 !important;
    

    
  }
table tbody tr:nth-child(1) {

    text-transform: uppercase;
    /* font-size: .8em; */
    letter-spacing: .1em;
    
  

    /* color: white; */
    
  

}
table tbody tr:nth-child(1) td p {
  font-size: 11px;
  padding-top: 0 !important;
  line-height: normal !important;

}

tr:hover {
  background-color: var(--color-la-light-grey);
  /* transition: ease-in; */
}

tr:first-of-type:hover {
  background-color:transparent;
  /* transition: ease-in; */
}

/* li.bullets p {
  text-align: left;
}

li.bullets p b {
  text-align: left;
} */

body {
    /* background-color: #F1ECE1;
    background-color: var(--color-limestone); */
  }

/* .richtext */
a {
  color: var(--color-la-purple);
}

a.underline {
  color: var(--color-la-purple);
}


