.h1 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.01em;
    line-height: 1.12;
    /* text-transform: capitalize; */
    margin-bottom: 8px;
    /* text-align: center; */

}
.h2 {
    margin-bottom: 1em;
    font-family: "Roboto";
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    line-height: 1.2;
}



.h3 {
    margin-top: 1em;

}
table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    font-size: .8em;
}

table, th, td {
    border: 1px solid #DAC8A4;
    vertical-align: middle;

  }

  td {
    padding: .8em;
  }

  td p {
    vertical-align: middle;
    margin-bottom: 0;
    
  }
table tbody tr:nth-child(1) {
    /* background-color: #ac9080; */
    background-color: rgba(218, 200, 164, .5);
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;;

    /* color: white; */
    
  

}


li {

}

body {
    /* background-color: #F1ECE1;
    background-color: var(--color-limestone); */
  }

/* .richtext */
a {
  color: var(--color-la-purple);
}

a.underline {
  color: var(--color-la-purple);
}

