@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: var(--font-family-body), sans-serif;
}

div.button,
button,
a {
  cursor: pointer !important;
}

header {
  z-index: 100;
}


html {
  -webkit-text-size-adjust: 100%;
  margin-top: var(--header-height);
}


:root {
  --font-family-body: "Roboto";
  --font-family-heading: "Cinzel";


  --central-white: #F7F6F6;
  --central-light: #ECE9E9;
  --central-grey: #BBB7B2ff;
  --central-dark-grey: #77766F;
  --central-olive: #848672ff;
  --central-rust: #9C6E4Dff;
  --central-black: #292826;


  --central-warm-grey: #CBC3BAff;
  --central-light-grey: #E1DEDCff;
  --central-medium-grey: #C0BDB9;
  --central-pewter: #514E49;
  --central-charcoal: #444142;
  --central-brick: #8C624E;
  --central-forest: #4F564B;
  --icon-color: var(--central-dark-grey);

  --color-champagne-pink: #ecdfd5;
  --color-desert-sand: #CDAB99;
  --color-wheat: #DAC8A4;
  --color-hunter: #172517;
  --color-limestone: #F1ECE1;
  --color-light: #e9d9cd;
  --color-terracotta: #A05337;
  --color-light-brown: #ac9080;
  --color-dusty-blue: #829DAB;
  --color-la-purple: #5f6db3;
  --color-la-grey: #666;
  --color-la-light-grey: #f6f6fb;

}

:root {
  --grid-width: 100vw;
  --grid-height: 100vh;
  --grid-padding: 6vw;
  --grid-column-count: 6;
  --grid-gutter: 1.6rem;
}

:root {
  /* SOLANA */
  /* --font-size-xl:  50px;
  --font-size-large: 30px;
  --font-size-h3: 20px;
  --font-size-body-copy: 15px;
  --font-size-small: 14px;
  --font-size-xs: 10px;
  --font-size-xxs: 8px; */


  --font-size-xl: 50px;
  --font-size-large: 30px;
  --font-size-h1: 30px;
  --font-size-h2: 16px;
  --font-size-h3: 25px;
  --font-size-h4: 20px;
  --font-size-body-copy: 15px;
  --font-size-small: 10px;
  --font-size-xs: 8px;
  --font-size-xxs: 6px;

  --line-height-body-copy: 2;

  --logo-height: 34px;
  /* SOLANA */
  /* --nav-margin-top: 1.5rem;
  --nav-margin-bottom: 1.5rem; */
  --nav-margin-top: 1rem;
  --nav-margin-bottom: 1rem;

  --header-height: calc(var(--logo-height) + var(--nav-margin-top) + var(--nav-margin-bottom));

  --section-padding-small: 3rem;
}

.button-primary button,
.button-secondary button {
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;


  align-items: center;
  justify-content: center;
  /* min-width: 130px;
  padding: 9px 10px; */
  /* padding: 1em; */
  width:100%;
  padding: 9px 10px;
  border-width: 1px;
  border-radius: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--font-size-small);
  font-family: "Roboto";
  letter-spacing: .15em;
  text-transform: uppercase;
  line-height: 1.29;
  font-size: 12px;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


  
}

.button-primary button {
  color: #fff;
  background-color: var(--color-la-purple);
  border: 1px solid var(--color-la-purple);
}

.button-secondary button {
  color: var(--color-la-grey);
  border: 1px solid var(--color-la-grey);
  background-color: white;
}

.button-primary button:hover,
.button-secondary button:hover {
  background-color: var(--color-la-grey);
  color: white;
}
@media only screen and (min-width: 576px) {
  :root {
    --grid-padding: 3rem;
  }
}


@media only screen and (min-width: 768px) {
  :root {
    --grid-padding: 3.5rem;
    --logo-height: 45px;
    --font-size-xxs: 10px;
    --font-size-small: 15px;

    --font-size-h1: 45px;
    --font-size-h2: 18px;
    --font-size-h3: 30px;
  }

  .amenity-list-item {
    width: 20%;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --grid-padding: 5.5rem;
    --font-size-small: 16px;
    --font-size-xl: 70px;
  }


}

@media only screen and (min-width: 1200px) {
  :root {
    --grid-padding: 7rem;
    /* --nav-margin-top: 2rem;
    --nav-margin-bottom: 2rem; */
    --nav-margin-top: 1.5rem;
    --nav-margin-bottom: 1.5rem;
  }

}

body {
  /* background-color: var(--central-white); */
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}

.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--font-size-h1);
  font-family: var(--font-family-heading);
  font-family: "Cinzel";
  color: var(--color-la-purple);
  margin-bottom: 6px;

}

.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-size-h2);
  margin-bottom: 17px;
}


.h2 {
  font-family: var(--font-family-body);
  font-family: "Roboto";
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
}

.h3 {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-heading);
  font-family: "Cinzel";
  color: var(--color-la-purple);
}

.h4 {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-body);
  font-weight: 400;
  color: #666;
  text-transform: none;
}

.h5 {
  font-family: var(--font-family-body);
  font-family: "Roboto";
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
  font-size: var(--font-size-body-copy);
  padding-top: calc(var(--grid-gutter) / 2);
}


p {
  font-size: var(--font-size-body-copy);
  line-height: var(--line-height-body-copy);
  color: var(--color-la-grey);
  font-weight: 300;
}

section {
  padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
}

.border-top {
  border-top: 1px solid var(--central-black);
}

.border-bottom {
  border-bottom: 1px solid var(--central-black);
}

a b {
  color: var(--color-la-purple);
}


@media only screen and (min-width: 1280px) {
  :root {

    --grid-column-count: 12;
    --grid-gutter: 2rem;
    --page-intro-small: 4.1vw;
    --page-section: 12.5vw;

  }
}

/* animations  */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible
  }
}

@media only screen and (max-width: 767.98px) {
  .h1 {
    margin-bottom: 6px;
    margin-bottom: 17px;
  }
}